<h2 class="title" mat-dialog-title>Sign Up</h2>
<mat-dialog-content class="reg-form" id="reg-form">
    <form>

        <div style="text-align:center">
            <div [innerHtml]='msg' *ngIf="msg" style="color: red;"></div>
            <div><img [src]="url" *ngIf="url"></div>
            <p>
                <input type="file" (change)="selectFile($event)" #profileURL>
            </p>
        </div>
                

        <mat-form-field class="email-field" appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput type="text" #userName required>
        </mat-form-field>

        <mat-form-field class="email-field" appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput type="email" #userEmail required>
        </mat-form-field>

        <mat-form-field class="pwd-field" appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput type="password"  #userPassword required>
        </mat-form-field>
    </form>
        

    <mat-dialog-actions align="center">
        <button 
            class="sign-up-btn" 
            mat-raised-button color="primary"
            [mat-dialog-close]="true"
            (click)="authService.SignUp(userEmail.value, userPassword.value, userName.value, profileURL.value)"
            >Sign Up</button>
        <button mat-raised-button color="grey" mat-dialog-close="">Cancel</button>
    </mat-dialog-actions>

</mat-dialog-content>

