.title{
    font-family: Monospace;
}

.reg-form{
    height: 450px;
    width: 420px;
}


.email-field{
    font-family: Monospace;
    width: 100%;
}

.pwd-field{
    font-family: Monospace;
    width: 100%;
}



