.title{
    font-family: Monospace;
}

.log-form{
    height: 235px;
    width: 420px;
}

.name-field{
    font-family: Monospace;
    width: 100%;
}

.username-field{
    font-family: Monospace;
    width: 100%;
}

.email-field{
    font-family: Monospace;
    width: 100%;
}

.pwd-field{
    font-family: Monospace;
    width: 100%;
}