
<h2 class="title" mat-dialog-title>Log In</h2>
<mat-dialog-content class="reg-form">
    
    <p>
        <mat-form-field class="email-field" appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput required type="text" placeholder="Username" #userName>
        </mat-form-field>
    
    </p>
    
    <p>
        <mat-form-field class="pwd-field" appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput type="password" required placeholder="Password" #userPassword>
        </mat-form-field>
    
    </p>
    <mat-dialog-actions align="center">
        <button 
            class="sign-up-btn" 
            mat-raised-button color="primary"
            [mat-dialog-close]="true"
            value="Log in"
            (click)="authService.SignIn(userName.value, userPassword.value)"
            >Log In</button>
        <button mat-raised-button color="grey" mat-dialog-close="">Cancel</button>
    </mat-dialog-actions>

</mat-dialog-content>

