<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav"  fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === true">
    <mat-toolbar></mat-toolbar>
    <mat-nav-list>
      <a style="font-size: 14px" mat-list-item href="#">
        <mat-icon style=" padding-right: 10px">home</mat-icon>
        Home
      </a>
      <a style="font-size: 14px" mat-list-item href="#">
        <mat-icon style=" padding-right: 10px">navigation</mat-icon>
        Explore</a>
      <a style="font-size: 14px" mat-list-item href="#">
        <mat-icon style=" padding-right: 10px">mark_email_read</mat-icon>
        Challenges Sent</a>
      <a style="font-size: 14px" mat-list-item href="#">
        <mat-icon style=" padding-right: 10px">email</mat-icon>
        Challenges Requests</a>
      <a style="font-size: 14px" mat-list-item href="#">
        <mat-icon style=" padding-right: 10px">supervisor_account</mat-icon>
        Subscriptions</a>
      <a style="font-size: 14px" mat-list-item href="#">
        <mat-icon style=" padding-right: 10px">calendar_today</mat-icon>
         History</a>
      <a style="font-size: 14px" mat-list-item href="#">
        <mat-icon style=" padding-right: 10px">thumb_up</mat-icon>
        Liked Challenges</a>
      <a style="font-size: 14px" mat-list-item href="#">
        <mat-icon style=" padding-right: 10px">download_done</mat-icon>
        Challenges Completed</a>  
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>
        <img src="assets/img/Challenger.png" alt="Challenger Clash" height="50px" width="100px">
      </span>
      <div class="search-div" >
        <mat-form-field class="search-field"  appearance="fill">
          <mat-label class="search-label">Search Challeneges</mat-label>
          <input matInput>
        </mat-form-field>
        <button class="serach-btn"  mat-icon-button>
          <mat-icon>search</mat-icon>
        </button>
      </div>
        <button 
        *ngIf="authService.isLoggedIn == true"
        routerLink="/dashboard"
        class="account-btn"  mat-icon-button>
          <mat-icon>account_circle</mat-icon>
        </button>

        <button
          *ngIf="authService.isLoggedIn == false"
          (click)="openSignUp()"
          class="sign-up-btn" mat-raised-button color="primary"
          >Sign Up</button>

        <button
          *ngIf="authService.isLoggedIn == false"
          (click)="openLogIn()" 
          class="log-in-btn" mat-raised-button color="grey"
          >Log In</button>

          <button
          *ngIf="authService.isLoggedIn == true"
          (click)="authService.SignOut()"
          class="log-in-btn" mat-raised-button color="grey"
          >SignOut</button>
          
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
